.fill-parent {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.fill-parent-force {
  min-height: 100%;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}