.header {
  flex-grow: 0;
  flex-shrink: 0;
}

:global .headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

:global .headroom--unfixed {
  position: relative;
  transform: translateY(0);
}

:global .headroom--scrolled {
  transition: transform 200ms ease-in-out;
}

:global .headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}

:global .headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
