.auv-holder {
  display: flex;
  // background: #13293d;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  background: #fbfbfb;
  background-size: cover;
  // min-height: 30rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.auv-water {
  background-image: url(water2.jpg);
}

.auv-ground {
  background-image: url(tile2.jpg);
}

.auv-image {
  flex-grow: 1;
  flex-basis: 0;
  min-height: 20rem;
  min-width: 20rem;
  max-width: 50rem;
  padding: 1.5rem;
  // background: #299BE8;
  
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

.auv-content {
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  // margin: 1.5rem;
  // color: #393939;
  color: #fbfbfb !important;
  h1 {
    color: #fbfbfb !important;
  }
  flex-grow: 2;
  flex-basis: 0;
  min-height: 10rem;
  min-width: 20rem;

  background-color: #212121aa;
  margin: 0;
  padding: 2rem;
}

.content{
  margin: 2rem;
}

.image{
  max-height: 20rem;
}