.hero {
  overflow: hidden;
  min-height: 20rem;
  position: relative;
}

.hero-image {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

.hero-image-cover {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.6;
  background: #06246b;
}

.hero-content {
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1{
    color: white;
    font-size: 2.5em;
    margin-bottom: 0.6666em;
  }

  h2{
    color: white;
    font-size: 1.2em;
    margin-bottom: 0.6666em;
  }

  a, button{
    margin: 0.5rem 1rem;
  }
}

.above-fold-content{
  margin: 2rem;
  margin-bottom: 2rem;
}

.below-fold-content{
  margin-top: 0px;
  margin: 2rem;
}
