@charset "utf-8";

// @import "../node_modules/bulma/bulma.sass";

@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";

// @import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/elements/button";
@import "../node_modules/bulma/sass/elements/container";
@import "../node_modules/bulma/sass/elements/content";
@import "../node_modules/bulma/sass/elements/notification";
@import "../node_modules/bulma/sass/elements/table";
@import "../node_modules/bulma/sass/elements/image";

// @import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/components/navbar";

// @import "../node_modules/bulma/sass/grid/_all";

// @import "../node_modules/bulma/sass/layout/_all";
@import "../node_modules/bulma/sass/layout/section";

body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html {
  overflow: auto;
}

#root {
  width: 100%;
  height: 100%;
}